
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #17252A;;
}

.container {
    margin: auto;
    width: 90%;
}

#loadingPanel {
    position: fixed;
    background-color: #17252A;;
    width: 100%;
    height: 100%;
    top: 0px;
    color: white;
    text-align: center;
}


@-webkit-keyframes Loading {
    0%   { opacity: 0; }
    50%  { opacity: 1;}
    100% { opacity: 0; }
  }
  @-moz-keyframes Loading {
    0%   { opacity: 0; }
    50%  { opacity: 1;}
    100% { opacity: 0; }
  }
  @-o-keyframes Loading {
    0%   { opacity: 0; }
    50%  { opacity: 1;}
    100% { opacity: 0; }
  }
  @keyframes Loading {
    0%   { opacity: 0; }
    50%  { opacity: 1;}
    100% { opacity: 0; }
  }

#dot1 {
    animation: Loading 1s infinite;
}

#dot2 {
    animation: Loading 1s infinite;
    animation-delay: 0.2s; 
}

#dot3 {
    animation: Loading 1s infinite;
    animation-delay: 0.4s; 
}

#loadingPanel h1 {
    margin-top: 400px;
}

svg {
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    background-color: #F7F7F7;
}

.title {
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
    color: navy;
}

.tooltip {
    padding: 20px 0px 20px 20px;
    position: absolute;
    box-shadow: 0px 0px 20px;
    width: 300px;
    background-color: rgb(23,37,42, 0.9);
    color: white;
    border-radius: 10px;
    font-size: 12px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#recordsByCountryBar {
    margin-top: 30px;
}

#TopHankTable{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    border-collapse:collapse ;
    width: 600px;
    margin-right: 20px;
}

#TopHankTable tbody {
    font-size: 12px;
}

#TopHankTable tbody tr td {
    border-top: 1px solid #F1F1F1;
    height: 25px;
}

#TopHankTable tbody tr:hover {
    border-top: 1px solid #F1F1F1;
    background-color: #17252A;
    color: white;
}

#TopHankTable thead tr th{
    padding-top: 20px;
    padding-bottom: 20px;
}

#TopHankTable tbody tr td:first-child{
    text-align: center;
}

#TopHankTable tbody tr td:nth-child(3){
    text-align: center;
}


#TopHankTable tbody tr td:nth-child(4){
    text-align: center;
}


#TopHankTable tbody tr td:nth-child(5){
    text-align: center;
}